* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.fields {
  padding: 20px 30px;
  max-width: 40%;
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 10px;
  font-family: "Open Sans", sans-serif;
  width: fit-content;
  margin: 0 auto;
}
.fields span {
  word-break: break-all;
}
.maindiv {
  width: 100%;
  height: 90vh;
}
.nav {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  width: 330px;
  font-size: 14px;
  color: white;
  background-color: rgba(47, 198, 246, 0.95);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s;
}
.loadBtn {
  pointer-events: none;
  background-color: rgba(28, 119, 146, 0.95);
}
.linksucces {
  color: rgba(28, 119, 146, 0.95);
}
.ferr {
  color: brown;
}
.infoblock {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.infoblockSettings {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.infoblock span {
  font-size: 20px;
}
.infoblockSettings span {
  font-size: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 200px;
  margin-top: 20px;

  box-sizing: border-box;
}
.form input {
  padding: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.settingsPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form button {
  font-size: 14px;
  color: white;
  background-color: rgba(47, 198, 246, 0.95);
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s;
  margin: 0 auto;
}
.mainLinkForm {
  width: 300px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.mainLinkForm input {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-color: #ccc;
}

.mainLinkForm button {
  font-size: 14px;
  color: white;
  background-color: #2fc6f6f2;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: 1s;
  margin: 0 auto;
}
.settingsTitle {
  font-size: 16px !important;
}
.loading {
  position: relative;
}
.loading:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: no-repeat;
  background-color: #cccccc78;
  background-image: url("../assets/img/loader.svg");
  background-position: center;
}
.brokenauth {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(255, 170, 170);
}
.settingsPage {
  margin: 0 auto;
}
.succes {
  text-align: center;
  color: #31a52a;
}
.error {
  text-align: center;
  color: rgb(255, 4, 4);
}
